body {
  font-family: "Montserrat";
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7% ;
  font-family: "Montserrat";
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 0;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 100;
}

.heading {
  font-size: 3.5rem;
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0;
  text-align: left;
}

.download{
  text-align: left;
}

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position:absolute;
  right:20%;
}



#features{
  background-color: #fff;
  position: relative;

}
.feature-conatiner {
  padding: 8% 2% 8% 2%;
}

.features-heading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.5rem;
}



.features-paragraph {
  color: #8f8f8f;
}


.fa-solid {
  color: #ef8172;
  margin-bottom: 6%;
}

.fa-solid:hover {
  color: #ff4c68;
}

#testimonials {

  background-color: #ff4c68;
  color: white;




}
.testimonials-heading{
  font-size:2.5rem;
  font-family: "Montserrat";
 font-weight:800;
}

.dog-image{
  width: 10%;
  padding:20px 0;
  border-radius: 50%;
}
#press{
  background-color: #ff4c68;

     padding-bottom: 30px;
}

.press-image{

    background-color: #ff4c68;
    width: 15%;
    margin: 20px 30px;
}

.testimonial-image{
  width: 10%;
  padding:20px 0;
  border-radius: 50%;
}

.carousel-item{
    padding: 8% 4% 5% 4%;
}
#pricing{
  padding: 8% 3% 5%;
}



.card-coloum{
    margin:2%;

}

.pricing-h2{

  font-weight: 600;
}

.pricing-para{

  color: #8f8f8f;
  margin-bottom: 30px;
}

.pricing-h3{
  font-weight: 600;
}
.pricing-plans{
  font-weight: 700;
}

.pricing-button{
margin-top:8%;
}


@media (max-width: 1190px){

   #title{
     text-align: center;
   }
  .title-image{
  position: static;
  width: 60%;
  transform: rotate(0);

  }
}


#cta{
  background-color:  #ff4c68;
  font-weight: 900;
  color: #fff;

  padding: 8% 30%;
}


.download2-btn{
  margin: 5%;
}

#footer{
  padding:4% 2%;

}
.envelope{
margin-bottom: 0;
color: black;
}

.copyright{
  margin:1%;
  color: lightgray;
  font-size: 15px;
}

.social-icon{
  margin: 10px;
}
